.home-splash_outer-container {
    background-image: url('../static/images/home_splash.jpg');
    background-size: cover;
    height: 650px;
    width: 100%;

    .home-splash_border {
        height: 40px;
        background-color: black;
    }

    .home-splash_inner-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 610px;
        width: 100%;

        .home-splash_tagline-container {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            max-width: 1200px;
            width: 100%;
            color: white;
            margin-bottom: 35px;

            .home-splash_tagline {
                font-size: 60px;
                margin-bottom: 15px;
                font-family:'Times New Roman', Times, serif;
            }
        }

        .home-splash_button-container {
            display: flex;
            justify-content: flex-start;
            max-width: 1200px;
            width: 100%;
        }
    }
}