.why-hire_outer-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;

    .why-hire_inner-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        max-width: 1150px;
    }

    .why-hire_main-text {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
    }

    .why-hire_reasons-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 40px;
    }
}